<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create</title>
  <link rel="stylesheet" href="{{url_for('static', filename = 'styles.css')}}">
</head>
<body class="body">
  <h1>Create your decks here.</h1>
  <div class="signup">
    <form action="/create_deck/{{user_id}}" class="form" method='POST'>
      <div class="inputContainer">
        <input type="text" id="fname" class="input" name="deck_name" placeholder="a" autocomplete="off" required>
        <label for="" class="label">Deck Name</label>
      </div>
        <input type="submit" class="submitBtn1" value="Create">
    </form>
  </div>
</body>
</html>