<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Signup</title>
  <link rel="stylesheet" href="{{url_for('static', filename = 'styles.css')}}">
  <script type="text/javascript" src="{{url_for('static', filename = 'js/custom.js')}}"></script> 
</head>

<body class="body">
    <div class="signup">
        <form action="/signup" class="form" method = "POST" id="form1" onsubmit=validate1(event)>
        <h1 class="title">Sign up</h1>

        <div class="inputContainer">
            <input type="text" class="input" name="username" placeholder="a" autocomplete="off" required>
            <label class="label">Username</label>
        </div>

        <div class="inputContainer">
            <input type="password" class="input" name="password" id="password" placeholder="a" autocomplete="off" required>
            <label class="label">Password</label>
        </div>

        <div class="inputContainer">
            <input type="password" class="input" name="confirm_password" id="confirm_password" placeholder="a" autocomplete="off" required>
            <label class="label">Confirm Password</label>
        </div>
        <input type="submit" class="submitBtn1" value="Sign up"> 
        </form>
    </div>
</body>
</html>