<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Update</title>
  <link rel="stylesheet" href="{{url_for('static', filename = 'styles.css')}}">
</head>
<body class="body">
    <h1>Update your deck here.</h1>
    <div class="signup">
      <form action="/decks/{{deck_id}}/update" class="form" method='POST'>
        <div class="inputContainer">
          <input type="text"  class="input" id="fname" name="deck_name" placeholder="a" autocomplete="off" required >
          <label class="label">Deck Name</label><br>
        </div>
          <input type="submit" class="submitBtn1" value="Update">
      </form>
    </div>
</body>
</html>